ENV=development

#SERVER
PORT=3000
SERVER_URL=http://localhost:3000

#Database local
# DATABASE_URL="mongodb://localhost:27017/base"
DATABASE_URL="mongodb://baseserver_pwtest:test@ac-obbzetg-shard-00-00.t8yg5mc.mongodb.net:27017,ac-obbzetg-shard-00-01.t8yg5mc.mongodb.net:27017,ac-obbzetg-shard-00-02.t8yg5mc.mongodb.net:27017/?ssl=true&replicaSet=atlas-14as0h-shard-0&authSource=admin&appName=BSCluster0"

#Migration
MIGRATE_MONGO_URI="mongodb://localhost:27017/base"
MIGRATE_AUTOSYNC="true"

#BCRYPT
SALT_ROUNDS="10"

#EMAIL_SERVICE
EMAIL_SERVICE_API_KEY="re_AgD3j5Z6_My1KJoFtHsC6JjEjzMyVK7z8" //My API Key(Rafai: Resend.com)

#tokens
ACCESS_TOKEN_SECRET=mySuperSecretAccessKey123
REFRESH_TOKEN_SECRET=mySuperSecretRefreshKey456

//DO NOT DELETE:
// EMAIL_SERVICE_API_KEY: re_AgD3j5Z6_My1KJoFtHsC6JjEjzMyVK7z8" //My API Key(Rafai: Resend.com)
